# Data Processing

### Importing Libraries

In [4]:
import pandas as pd

### Information about Data

Data

In [11]:
dataframe = pd.read_csv('dataset_Facebook.csv')
dataframe.head()

  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1  139441;Status;2;12;3;10;0;10460;19057;1457;136...
2  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

Information about data

In [12]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                             --------------  -----
 0   Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions  500 non-null    object
dtypes: object(1)
memory usage: 4.0+ KB

Description of Data

In [13]:
dataframe.describe()

       Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
count                                                 500
unique                                                500
top     139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
freq                                                    1

columns and their data types

In [29]:
print('shape of data - ', dataframe.shape)
print('Columns - ', dataframe.columns ) 
print('Data Types - ', dataframe.dtypes)

shape of data -  (500, 1)
Columns -  Index(['Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions'], dtype='object')
Data Types -  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions    object
dtype: object

### Counting and Removing Null values

Total Number of Null values

In [36]:
if dataframe[dataframe==0].count().sum() == 0:
    print("No Null values present!")
else:
    print(dataframe[dataframe==0].count().sum())

No Null values present!

### Creating a subset for type of post